/* variables */
:root {
    --blue-btn: #1c5fb4;
    --red-btn: #ff3737;
    --red-btn-secondary: #d32d2d;
    --blue-btn-secondary: #003e8e;
    --fuente_principal: 'Poppins', sans-serif;
    --aside-bg: #2a405a;
    --aside-bg-secondary: #1f2f43;
    --asdie-li-hover: #33bdca;
    --main-bg: #d1d3d0;
    --white: #fafafa;
}

/* globales */

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--fuente_principal)
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* estilos para el header */

.header {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .3);
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem;
    padding: 1.3rem;
}

.header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header menu {
    display: flex;
}

.page__logo {
    display: flex;
    align-items: center;
    gap: .4rem;
}

/* estilos para el login */

.login__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    height: 100vh;
    margin: 0 auto;
}

.login__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/login_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.title {
    font-size: 6rem;
    padding: 1.5rem;
    text-transform: capitalize;
}

/* estilos para el formulario */

.form__section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    position: relative;
}

.form__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.form__icon svg {
    width: 6.5rem;
}

.form .input {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 24rem;
}

.form .input input {
    padding: .2rem;
    border: none;
    border-bottom: .5px solid var(--blue-btn);
}

.form .button, 
.form .button-eliminar {
    display: flex;
    justify-content: center;
    align-items: center;
}


.form .button>input,
.form .button-eliminar>input{
    background-color: var(--blue-btn);
    color: white;
    font-size: 1.5rem;
    border-radius: .2rem;
    width: 16rem;
    padding: .2rem 2rem;
}

.form .button-eliminar>input {
    background-color: var(--red-btn);
}

.form .button>input:hover,
.form .button-eliminar>input:hover {
    cursor: pointer;
    background-color: var(--blue-btn-secondary);
}

.form .button-eliminar>input:hover {
    background-color: var(--red-btn-secondary);
}

.form .input>label {
    margin-bottom: .5rem;
}

/* estilos para el panel de administracion */
.panel__container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: .5rem;
    height: 100%;
    background: var(--main-bg);
}

.panel__aside {
    background-color: var(--aside-bg);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 2rem 0;
    color: white;
}

.icon-admin__container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.username {
    font-size: 1.3rem;
    text-transform: capitalize;
    text-align: center;
}

.username .tipo_usuario {
    font-size: .8rem;
    font-weight: 600;
}

.username .tipo_usuario>span {
    color: var(--asdie-li-hover);
}

.panel__aside nav {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
}

.panel__aside li {
    border-top: 2px solid var(--aside-bg-secondary);
    border-bottom: none;
    padding: .5rem 0;
    transition: .5s ease-in-out;
}

.panel__aside li:hover {
    cursor: pointer;
    background: var(--asdie-li-hover);
}

.panel__aside li:last-child {
    border-bottom: 2px solid var(--aside-bg-secondary);
}

.libros__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 2rem;
    background: var(--white);
    border-radius: .2rem;
    height: 100vh;
}

.libros__container h2 {
    text-transform: capitalize;
}

.libros__container table {
    border-spacing: 2px;
    width: 100%;
    height: fit-content;
    text-align: left;
}

.libros__container table caption {
    text-align: right;
    margin-bottom: .2rem;
    color:  var(--asdie-li-hover);
    font-weight: 600;
}

.libros__container table th {
    background: var(--aside-bg-secondary);
    color: var(--white);
}

.libros__container table td,
.libros__container table th {
    padding: .5rem;
    border-radius: .2rem;
    box-shadow: 1px 1px 1px 1px rgba(163, 163, 163, 0.93);
}

.table__action {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ESTILOS PARA LAS PAGINAS DE ERROR 404 */
.not-found__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.not-found__container h2 {
    margin: 2rem 0;
}

/* ESTILOS PARA EL FORMULARIO DE LIBROS */
.form__libro {
    background: var(--white);
    padding: 4rem 2rem;
    border-radius: 1rem;
    box-shadow: 1px 11px 29px -6px rgba(0,0,0,0.31);
}

.form__libro h2 {
    text-transform: capitalize;
    text-align: center;
}